### Extract Tranform Load : 


1. Extract : 
       a) Source of this data is Amazon Jobs skills dataset on Kaggle . https://www.kaggle.com/atahmasb/amazon-job-skills and Google Jobs skills dataset on Kaggle. https://www.kaggle.com/niyamatalmass/google-job-skills
          These are CSV Files in the Resources folder.
          
2. Transform :
        a) Since both the companies had their own naming conventions around Titles, Category, descriptions, location tagging, the changes were required in renaming these, normalizing them and spliting the location fields. 
        b) Split location field to city, state and country. There was "space" in the location names, which had to removed    
        c) There were various special characters which had to be removed in the description
        d) There were values in states for which countries were not given, hence had to insert such countries
        e) Renaming the countries  for uniformity in both the companies
        
3. Load :
        a) The last step was to transfer our data to DataBase. I created a database "Job skills" and respective tables to match the columns from the final Panda’s Data Frame using MYSQL and then connected to the database using SQLAlchemy and loaded the result. (SQL Queries are in queries file). By multiple queries to suit a desired criterion, the data was loaded from SQL Database
        
4. Summary: 

This database can be used to find out the maximum locations where Amazon and Google job recruitment is happening.
Which states are more likely to get Amazon and Google more hired candidates and which city is topping on the Amazon and Google chart list.
Later on it can be used to add Titles, which skillsets are Amazon and Google hiring for along with technology, basic and preferred qualifications.

### EXTRACT

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
import numpy as np

In [2]:
#set csv paths

amazon_csv = "Resources/amazon_jobs_dataset.csv"
google_csv = "Resources/google_job_skills.csv"

In [3]:
#Read the Csvs
amazon_df1 = pd.read_csv(amazon_csv)
google_df13 = pd.read_csv(google_csv)

In [4]:
amazon_df1.head()

,Unnamed: 0,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...

In [5]:
google_df13.head()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin..."
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,..."
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...

In [6]:
amazon_df1.count()
#amazon_df["location"].value_counts()

Unnamed: 0                  3493
Title                       3493
location                    3493
Posting_date                3493
DESCRIPTION                 3484
BASIC QUALIFICATIONS        3484
PREFERRED QUALIFICATIONS    3484
dtype: int64

### TRANSFORM

In [7]:
#Clean Amazon data

amazon_df1=amazon_df1.dropna(how="any")
amazon_df1.count()

Unnamed: 0                  3484
Title                       3484
location                    3484
Posting_date                3484
DESCRIPTION                 3484
BASIC QUALIFICATIONS        3484
PREFERRED QUALIFICATIONS    3484
dtype: int64

In [8]:
#amazon_df["location"].unique()
amazon_df1['Country'], amazon_df1['State'], amazon_df1["City"] = amazon_df1['location'].str.split(',', 2).str
amazon_df1.head()

,Unnamed: 0,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS,Country,State,City
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...,US,WA,Seattle
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle

In [11]:
#Renaming columns
amazon_df1=amazon_df1.rename(columns={"DESCRIPTION":"A_Responsibilities", "BASIC QUALIFICATIONS": "A_Minimum Qualifications", "PREFERRED QUALIFICATIONS": "A_Preferred Qualifications"})
amazon_df1.head()

,Unnamed: 0,A_Title,A_Location,A_Posting_date,A_Responsibilities,A_Minimum Qualifications,A_Preferred Qualifications,A_Country,A_State,A_City
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...,US,WA,Seattle
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle

In [132]:
amazon_df1=amazon_df1.rename(columns={"Title":"A_Title","location": "A_Location", "Posting_date":"A_Posting_date","Country" : "A_Country", "State":"A_State","City":"A_City"})
amazon_df1.head()

,Unnamed: 0,A_Title,A_Location,A_Posting_date,A_Responsibilities,A_Minimum Qualifications,A_Preferred Qualifications,A_Country,A_State,A_City
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...,US,WA,Seattle
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle

In [133]:
amazon_df20= amazon_df1.drop([12])
amazon_df20.head()

,Unnamed: 0,A_Title,A_Location,A_Posting_date,A_Responsibilities,A_Minimum Qualifications,A_Preferred Qualifications,A_Country,A_State,A_City
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...,US,WA,Seattle
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,IN,KA,Bangalore
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,US,WA,Seattle

In [50]:
amazon_df2= amazon_df20[["A_Title","A_Responsibilities","A_Minimum Qualifications","A_Preferred Qualifications","A_City","A_State","A_Country"]]

amazon_df2.head()

,A_Title,A_Responsibilities,A_Minimum Qualifications,A_Preferred Qualifications,A_City,A_State,A_Country
0,Software Development Manager,You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...,Seattle,WA,US
1,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,Bangalore,KA,IN
2,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...,Bangalore,KA,IN
3,Software Development Engineer - Amazon Lex,Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,Seattle,WA,US
4,Software Development Engineer - Amazon Lex,Have you ever wondered what it takes to build ...,· Bachelors Degree in Computer Science or a re...,· Masters or PhD in Computer Science· Experien...,Seattle,WA,US

In [54]:
value = amazon_df2.loc[2,"A_Responsibilities"] 
print(value)

Amazon is driven by being “the world’s most customer centric company." In the Health, Safety, Sustainability, Security, and Compliance (HS3C) organization, we own ensuring that all products at Amazon are 100% complaint with all legal, trade, product safety, and food safety requirements. We’re obsessed with the safety of all our customers and workers, creating a world-class experience for our millions of vendors and sellers world-wide, and inventing the best business and regulatory models for safe and sustainable supply chains in our industries.As a Software Engineer you will work with your manager and team of highly skilled software, data, and test engineers to invent, design, and build highly stable and performant software. You will work with your internal customers to balance customer requirements with team requirements and help your team and business evolve. You will be using the latest AWS and industry technologies to deliver a one-stop authoritative compliance ecosystem for Amazon, keeping our customers safe and products compliant, building the software creating the world’s most authoritative data set on everything companies and customers need to know related to the safety and compliance of products and supply chains. You will collaborate with leaders of partner teams developing our social responsibility and packaging optimization systems.Each and every person buying, selling, or handling Amazon products will be your customer.If you’d like to make a real-world difference by working hard, having fun, and making history, this is the team for you!Key Responsibilities:· Design and develop critical components of world class, scalable distributed systems.· Mentor junior Software Development Engineers.· Interface with our internal customers and technical leadership to inform and understand requirements and priorities.· Take on hard, ambiguous problems and articulate solutions that will to serve the broader Amazon.· Help develop long-term technical strategies in the product supply chain space.

In [56]:
amazon_removebullet = amazon_df2
#amazon_removebullet["A_Responsibilities"].replace("·", " ", inplace=True)

amazon_removebullet["A_Responsibilities"] = amazon_removebullet["A_Responsibilities"].str.replace(r"·", " ")


value = amazon_removebullet.loc[2,"A_Responsibilities"] 
#amazon_removebullet["A_Responsibilities"] = amazon_removebullet["A_Responsibilities"].str.replace(r"·", " ")
print(value)


#value = amazon_removebullet.loc[2,"A_Responsibilities"]

Amazon is driven by being “the world’s most customer centric company." In the Health, Safety, Sustainability, Security, and Compliance (HS3C) organization, we own ensuring that all products at Amazon are 100% complaint with all legal, trade, product safety, and food safety requirements. We’re obsessed with the safety of all our customers and workers, creating a world-class experience for our millions of vendors and sellers world-wide, and inventing the best business and regulatory models for safe and sustainable supply chains in our industries.As a Software Engineer you will work with your manager and team of highly skilled software, data, and test engineers to invent, design, and build highly stable and performant software. You will work with your internal customers to balance customer requirements with team requirements and help your team and business evolve. You will be using the latest AWS and industry technologies to deliver a one-stop authoritative compliance ecosystem for Amazon, keeping our customers safe and products compliant, building the software creating the world’s most authoritative data set on everything companies and customers need to know related to the safety and compliance of products and supply chains. You will collaborate with leaders of partner teams developing our social responsibility and packaging optimization systems.Each and every person buying, selling, or handling Amazon products will be your customer.If you’d like to make a real-world difference by working hard, having fun, and making history, this is the team for you!Key Responsibilities:  Design and develop critical components of world class, scalable distributed systems.  Mentor junior Software Development Engineers.  Interface with our internal customers and technical leadership to inform and understand requirements and priorities.  Take on hard, ambiguous problems and articulate solutions that will to serve the broader Amazon.  Help develop long-term technical strategies in the product supply chain space.

/Users/nidhi/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [131]:

#amazon_removebullet["A_Responsibilities"] = amazon_removebullet["A_Responsibilities"].str.replace(r"%", "")

#value = amazon_removebullet.loc[2,"A_Responsibilities"] 

#print(value)

In [ ]:

amazon_removebullet["A_Responsibilities"] = amazon_removebullet["A_Responsibilities"].str.replace(r"%", "")

value = amazon_removebullet.loc[2,"A_Responsibilities"] 

print(value)

In [61]:

amazon_removebullet["A_Responsibilities"] = amazon_removebullet["A_Responsibilities"].str.replace(r"/", "")

value = amazon_removebullet.loc[2,"A_Responsibilities"] 

print(value)

Amazon is driven by being “the world’s most customer centric company." In the Health, Safety, Sustainability, Security, and Compliance (HS3C) organization, we own ensuring that all products at Amazon are 100 complaint with all legal, trade, product safety, and food safety requirements. We’re obsessed with the safety of all our customers and workers, creating a world-class experience for our millions of vendors and sellers world-wide, and inventing the best business and regulatory models for safe and sustainable supply chains in our industries.As a Software Engineer you will work with your manager and team of highly skilled software, data, and test engineers to invent, design, and build highly stable and performant software. You will work with your internal customers to balance customer requirements with team requirements and help your team and business evolve. You will be using the latest AWS and industry technologies to deliver a one-stop authoritative compliance ecosystem for Amazon, keeping our customers safe and products compliant, building the software creating the world’s most authoritative data set on everything companies and customers need to know related to the safety and compliance of products and supply chains. You will collaborate with leaders of partner teams developing our social responsibility and packaging optimization systems.Each and every person buying, selling, or handling Amazon products will be your customer.If you’d like to make a real-world difference by working hard, having fun, and making history, this is the team for you!Key Responsibilities:  Design and develop critical components of world class, scalable distributed systems.  Mentor junior Software Development Engineers.  Interface with our internal customers and technical leadership to inform and understand requirements and priorities.  Take on hard, ambiguous problems and articulate solutions that will to serve the broader Amazon.  Help develop long-term technical strategies in the product supply chain space.

/Users/nidhi/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:

amazon_df3=amazon_removebullet.rename(columns={"A_Minimum Qualifications": "A_MinimumQualifications","A_Preferred Qualifications":"A_PreferredQualifications"})
amazon_df4= amazon_df3[["A_City","A_State","A_Country"]]

#amazon_df4.head(59
             #  )

#value = amazon_df4.loc[564,"A_Title"] 
#amazon_df4["A_State"].value_counts()

SoftwareDevelopmentEngineervII

In [94]:

amazon_df4["A_Title"] = amazon_df4["A_Title"].str.replace(r" ", "")
value = amazon_df4.loc[386,"A_Title"] 
#amazon_df4["A_State"].value_counts()
print(value)

SoftwareDevelopmentEngineerAWSAIService

/Users/nidhi/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [110]:
#amazon_df4= amazon_df4.drop([383])
value = amazon_df4.loc[381,"A_Title"] 
print(value)

SoftwareDevelopmentEngineervII

In [125]:
amazon_df4.head()

        A_City A_State A_Country
0     Seattle       WA        US
1   Bangalore       KA        IN
2   Bangalore       KA        IN
3     Seattle       WA        US
4     Seattle       WA        US

In [17]:
google_df13=google_df13.dropna(how="any")
google_df13.count()

Company                     1235
Title                       1235
Category                    1235
Location                    1235
Responsibilities            1235
Minimum Qualifications      1235
Preferred Qualifications    1235
dtype: int64

In [18]:
google_df13['City'], google_df13['State'], google_df13["Country"] = google_df13['Location'].str.split(', ', 2).str

google_df13.head()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications,City,State,Country
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...,Singapore,NaN,NaN
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin...",Shanghai,China,NaN
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...,New York,NY,United States
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,...",Mountain View,CA,United States
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...,Sunnyvale,CA,United States

In [19]:
#Adding country to the places basis state names where country was NaN

#Creating a duplicate column for state

google_df13["Country2"] = google_df13["State"]

#Replacing state names with the country names

google_df13["Country2"].replace("CA", "US", inplace=True)
google_df13["Country2"].replace("NY", "US", inplace=True)
google_df13["Country2"].replace("China", "CN", inplace=True)
google_df13["Country2"].replace("IR", "IE", inplace=True)
google_df13["Country2"].replace("Germany", "DE", inplace=True)
google_df13["Country2"].replace("WA", "US", inplace=True)
google_df13["Country2"].replace("United Kingdom", "UK", inplace=True)
google_df13["Country2"].replace("Ireland", "IR", inplace=True)
google_df13["Country2"].replace("Australia", "AU", inplace=True)
google_df13["Country2"].replace("Japan", "JP", inplace=True)
google_df13["Country2"].replace("Taiwan", "TW", inplace=True)
google_df13["Country2"].replace("India", "IN", inplace=True)
google_df13["Country2"].replace("Ireland", "IR", inplace=True)
google_df13["Country2"].replace("Switzerland", "CH", inplace=True)

google_df13["Country2"].replace("France", "FR", inplace=True)
google_df13["Country2"].replace("TX", "US", inplace=True)

google_df13["Country2"].replace("Brazil", "BR", inplace=True)
google_df13["Country2"].replace("CO", "US", inplace=True)

google_df13["Country2"].replace("Mexico", "MX", inplace=True)

google_df13["Country2"].replace("Israel", "IL", inplace=True)

google_df13["Country2"].replace("Russia", "RU", inplace=True)

google_df13["Country2"].replace("PA", "US", inplace=True)
google_df13["Country2"].replace("Sweden", "SE", inplace=True)

google_df13["Country2"].replace("ON", "CA", inplace=True)

google_df13["Country2"].replace("Mexico", "MX", inplace=True)

google_df13["Country2"].replace("Poland", "PL", inplace=True)

google_df13["Country2"].replace("Netherlands", "NL", inplace=True)
google_df13["Country2"].replace("IL", "US", inplace=True)
google_df13["Country2"].replace("Italy", "IT", inplace=True)
google_df13["Country2"].replace("Argentina", "AR", inplace=True)
google_df13["Country2"].replace("Indonesia", "ID", inplace=True)

google_df13["Country2"].replace("Norway", "NO", inplace=True)
google_df13["Country2"].replace("DC", "US", inplace=True)

google_df13["Country2"].replace("Colombia", "CO", inplace=True)
google_df13["Country2"].replace("Thailand", "TH", inplace=True)
google_df13["Country2"].replace("MI", "US", inplace=True)
google_df13["Country2"].replace("South Korea", "KR", inplace=True)
google_df13["Country2"].replace("IL", "US", inplace=True)
google_df13["Country2"].replace("PA", "US", inplace=True)
google_df13["Country2"].replace("Italy", "IT", inplace=True)
google_df13["Country2"].replace("Norway", "NO", inplace=True)
google_df13["Country2"].replace("Turkey", "TR", inplace=True)

google_df13["Country2"].replace("MA", "US", inplace=True)

google_df13["Country2"].replace("Ireland", "IR", inplace=True)


google_df13["Country2"].replace("Philipines", "PH", inplace=True)

google_df13["Country2"].replace("Romania", "RO", inplace=True)

google_df13["Country2"].replace("South Africa", "ZA", inplace=True)
google_df13["Country2"].replace("Belgium", "BE", inplace=True)

google_df13["Country2"].replace("VA", "US", inplace=True)
google_df13["Country2"].replace("Finland", "FI", inplace=True)

google_df13["Country2"].replace("OR", "US", inplace=True)

google_df13["Country2"].replace("Denmark", "DK", inplace=True)

google_df13["Country2"].replace("GA", "US", inplace=True)
google_df13["Country2"].replace("Austria", "AT", inplace=True)
google_df13["Country2"].replace("UT", "US", inplace=True)

google_df13["Country2"].replace("Kenya", "KE", inplace=True)

google_df13["Country2"].replace("Croatia", "IR", inplace=True)

google_df13["Country2"].replace("Spain", "ES", inplace=True)
google_df13["Country2"].replace("Ukraine", "UA", inplace=True)



google_df13.head()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications,City,State,Country,Country2
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...,Singapore,NaN,NaN,NaN
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin...",Shanghai,China,NaN,CN
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...,New York,NY,United States,US
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,...",Mountain View,CA,United States,US
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...,Sunnyvale,CA,United States,US

In [122]:
#google_df= google_df.rename(columns={"United States":"US"})


google_df40 = google_df13[google_df13["Country2"]!="NaN"]
google_df40 = google_df40.dropna(how='any')

google_df40.count()
google_df40["Country2"].value_counts()

US    623
CA      7
MN      1
OH      1
ID      1
QC      1
Name: Country2, dtype: int64

In [123]:
#rename the columns
google_df40 =google_df40.rename(columns={"Title": "G_Title", "Category":"G_Category","Responsibilities":"G_Responsibilities", "Minimum Qualifications":"G_Minimum Qualifications","Preferred Qualifications":"G_Preferred Qualifications","City":"G_City","State":"G_State","Country2":"G_Country"
                                        })


google_df40.head()

,Company,G_Title,G_Category,Location,G_Responsibilities,G_Minimum Qualifications,G_Preferred Qualifications,G_City,G_State,Country,G_Country
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...,New York,NY,United States,US
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,...",Mountain View,CA,United States,US
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...,Sunnyvale,CA,United States,US
6,Google,"Supplier Development Engineer, Camera, Consume...",Hardware Engineering,"Mountain View, CA, United States",Manage cross-functional activities in the supp...,BS degree in Engineering or equivalent practic...,Master's degree.\nExperience in the developmen...,Mountain View,CA,United States,US
7,Google,"Strategic Technology Partner Manager, Healthca...",Partnerships,"Sunnyvale, CA, United States",Lead the development and strategy with partner...,BA/BS degree or equivalent practical experienc...,"BA/BS degree in a technical, life sciences or ...",Sunnyvale,CA,United States,US

In [124]:
#Select limited columns for SQL


google_df41= google_df40[["G_City","G_State","G_Country"]]

google_df41.head()

          G_City G_State G_Country
2       New York      NY        US
3  Mountain View      CA        US
4      Sunnyvale      CA        US
6  Mountain View      CA        US
7      Sunnyvale      CA        US

### LOAD

In [26]:
# Connect to Local database

!pip install mysqlclient
!pip install --upgrade setuptools

Requirement already satisfied: mysqlclient in /Users/nidhi/anaconda3/envs/PythonData/lib/python3.6/site-packages (1.4.2.post1)
Requirement already up-to-date: setuptools in /Users/nidhi/anaconda3/envs/PythonData/lib/python3.6/site-packages (41.0.1)

In [34]:
rds_connection_string = "root:nidhisamyak@127.0.0.1/Jobskills_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [52]:
#check for tables
engine.table_names()

['amazon_jobskills']

### Use pandas to load csv converted DataFrame into database

In [126]:
amazon_df4.to_sql(name='amazon_jobskills', con=engine, if_exists='append', index=False)

In [129]:
google_df41.to_sql(name='google_jobskills', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the Amazon and Google tables

In [128]:
pd.read_sql_query('select * from amazon_jobskills', con=engine).head()

   id       A_City A_State A_Country
0   1     Seattle       WA        US
1   2   Bangalore       KA        IN
2   3   Bangalore       KA        IN
3   4     Seattle       WA        US
4   5     Seattle       WA        US

In [130]:
pd.read_sql_query('select * from google_jobskills', con=engine).head()

   id         G_City G_State G_Country
0   1       New York      NY        US
1   2  Mountain View      CA        US
2   3      Sunnyvale      CA        US
3   4  Mountain View      CA        US
4   5      Sunnyvale      CA        US